{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="header">
    <ul class="header-links">
      <li>
        <a href="{% url 'home-page' %}">Home</a>
      </li>
    </ul>
  </header>

  <main>
    {% for notice in news %}
        <article class="news-card">
            <img src="{% static notice.image.url %}" alt="{{ notice.title }}">
            <h2 class="news-title">
              {{ notice.title }}
            </h2>
            <span class="news-date">
              {{ notice.created_at | date:"d/m/Y" }}
            </span>
        </article>
    {% endfor %}
  </main>
</body>
</html>
